.hamburger {
  display: none;
}

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 24px;
  right: 20%;
  top: 30%;
}

.bm-burger-bars {
  background: orange;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: whitesmoke;
}

.bm-menu {
  background: #ffa500;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hamburger Menu ul {
  li {
    list-style-type: none;
    color: ghostwhite;
  }
}