@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

body {
  font-family: 'Libre Baskerville', sans-serif, 'Arial Black';
  font-size: 0.9rem;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.line {
  border-bottom: 2px solid white;
  width: 45%;
  height: 5%;
  margin-bottom: 8%;
}


