@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Libre Baskerville', sans-serif, 'Arial Black';
  font-size: 0.9rem; }

.container {
  margin: 0 auto;
  width: 80%; }

.line {
  border-bottom: 2px solid white;
  width: 45%;
  height: 5%;
  margin-bottom: 8%; }

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  .grid-container .row::before, .grid-container .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='col-'] {
    float: none;
    width: 100%;
    min-height: 1px;
    padding: 12px; }
    @media (min-width: 550px) {
      .grid-container [class*='col-'] {
        float: left; } }
  @media (min-width: 550px) {
    .grid-container .col-1 {
      width: 8.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-2 {
      width: 16.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-3 {
      width: 25%; } }
  @media (min-width: 550px) {
    .grid-container .col-4 {
      width: 33.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-5 {
      width: 41.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-6 {
      width: 50%; } }
  @media (min-width: 550px) {
    .grid-container .col-7 {
      width: 58.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-8 {
      width: 66.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-9 {
      width: 75%; } }
  @media (min-width: 550px) {
    .grid-container .col-10 {
      width: 83.33333%; } }
  @media (min-width: 550px) {
    .grid-container .col-11 {
      width: 91.66667%; } }
  @media (min-width: 550px) {
    .grid-container .col-12 {
      width: 100%; } }

.address {
  height: 5vh;
  width: 100vw;
  background: whitesmoke;
  border-bottom: 1px solid grey; }
  .address .media {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    filter: invert(0.4); }
    .address .media .contacts {
      width: 85%;
      height: 5vh;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .address .media .contacts img {
        margin-right: 0.5%;
        width: 1.1rem;
        height: 1.1rem; }
      .address .media .contacts a {
        margin-right: 2%;
        font-size: 0.8rem; }
    .address .media .icons {
      width: 15%;
      height: 5vh;
      display: flex;
      justify-items: flex-end;
      justify-content: space-between;
      align-items: center; }
      .address .media .icons a {
        display: flex;
        align-content: center; }
        .address .media .icons a:hover {
          filter: none;
          background: orange; }
      .address .media .icons img {
        width: 1.3rem;
        height: 1.3rem; }

.menu {
  height: 9vh;
  width: 100vw;
  background: whitesmoke;
  border-bottom: 1px solid grey;
  align-items: center;
  color: grey;
  display: flex; }
  .menu .logo a {
    font-size: 1.7rem; }
  .menu .logo span {
    color: orange; }
  .menu nav {
    position: relative;
    top: -0.3rem;
    left: 6rem; }
  .menu .underline {
    position: relative;
    height: 1.3rem;
    width: 26.6rem;
    border-bottom: 4px double grey;
    top: 1rem; }
  .menu ul {
    list-style: none;
    float: left; }
  .menu ul > li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    height: 30px;
    color: grey;
    text-decoration: none;
    font-size: 1rem; }
  .menu ul > li > a {
    padding: 10px;
    color: grey;
    text-decoration: none; }
  .menu ul > li > a:hover,
  .menu ul > li:hover > a {
    color: orange;
    text-decoration-line: underline;
    text-decoration-style: double; }
  .menu ul > li ul {
    padding: 0;
    position: absolute;
    display: none;
    left: 0;
    top: 30px;
    width: 200px;
    text-align: left;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    z-index: 5;
    text-decoration: none;
    font-size: 0.8rem; }
  .menu ul li:hover > ul {
    display: block; }
  .menu ul > li ul ul {
    left: 200px;
    top: -1px; }
  .menu ul > li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    height: auto; }
  .menu ul > li ul li a {
    padding: 10px 20px;
    color: grey;
    text-decoration: none;
    display: block; }
  .menu ul > li ul li a:hover,
  .menu ul > li ul li:hover > a {
    color: #fff;
    background-color: orange; }
  .menu ul {
    list-style: none;
    float: left; }
  .menu ul > li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    height: 30px; }
  .menu ul > li > a {
    padding: 10px;
    color: grey;
    text-decoration: none; }
  .menu ul > li > a:hover,
  .menu ul > li:hover > a {
    color: orange; }
  .menu ul > li ul {
    padding: 0;
    position: absolute;
    display: none;
    left: 0px;
    top: 30px;
    width: 200px;
    text-align: left;
    background-color: #fcfcfc;
    border: 1px solid #ccc; }
  .menu ul li:hover > ul {
    display: block; }
  .menu ul > li ul ul {
    left: 200px;
    top: -1px; }
  .menu ul > li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    height: auto; }
  .menu ul > li ul li a {
    padding: 10px 20px;
    color: grey;
    text-decoration: none;
    display: block; }
  .menu ul > li ul li a:hover,
  .menu ul > li ul li:hover > a {
    color: #fff;
    background-color: orange; }

nav > ul > li:last-child {
  pointer-events: none;
  cursor: default; }

.text-pop-up {
  animation: text-pop-up-right 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2 alternate-reverse both; }

@keyframes text-pop-up-right {
  0% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    transform: translateX(50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

.section1 {
  height: 80vh;
  width: 100vw;
  border-bottom: 1px solid grey;
  color: whitesmoke;
  background: url("./images/chair33.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  justify-content: space-between;
  align-items: flex-end; }
  .section1 .layer {
    background-color: rgba(43, 43, 43, 0.66);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 8%; }
    .section1 .layer .text {
      width: 100%;
      display: flex;
      align-content: space-between;
      flex-direction: column; }
      .section1 .layer .text .title {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-bottom: 12vh; }
        .section1 .layer .text .title .h1 {
          width: 100%;
          padding-bottom: 5vh;
          margin-top: 0;
          margin-bottom: 0.1rem;
          text-align: center;
          font-size: 1.4rem; }
        .section1 .layer .text .title .a {
          width: 100%;
          text-align: center;
          font-size: 1.2rem; }
      .section1 .layer .text .boxes {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        text-align: justify;
        flex-wrap: wrap; }
        .section1 .layer .text .boxes .box {
          width: 315px;
          height: 240px;
          display: flex;
          flex-direction: column;
          align-content: space-between;
          justify-content: center;
          padding: 2.5%; }
          .section1 .layer .text .boxes .box .h4 {
            height: 20%; }
          .section1 .layer .text .boxes .box .a1 {
            height: 60%;
            font-size: 0.83rem; }
          .section1 .layer .text .boxes .box .a2 {
            height: 5%;
            align-self: flex-end;
            justify-self: flex-end; }
            .section1 .layer .text .boxes .box .a2 a {
              text-decoration: none;
              color: orange; }
              .section1 .layer .text .boxes .box .a2 a:hover {
                color: whitesmoke; }

.section2 {
  height: 80vh;
  width: 100vw;
  color: grey;
  background: white; }
  .section2 .info {
    display: flex;
    height: 80vh;
    flex-wrap: wrap; }
    .section2 .info .image {
      width: 50%;
      display: flex; }
      .section2 .info .image .image2 {
        width: 100%;
        height: 100%;
        background-image: url("./images/chair.jpg");
        background-repeat: no-repeat;
        background-size: contain; }
    .section2 .info .allinfo {
      height: 100%;
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: 3% 3%;
      flex-wrap: wrap; }
      .section2 .info .allinfo .heading {
        height: 55%;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .section2 .info .allinfo .heading h2 {
          padding: 9% 0; }
      .section2 .info .allinfo .texts {
        height: 45%;
        display: flex;
        font-size: 0.93rem;
        text-align: center; }
        .section2 .info .allinfo .texts .text {
          padding: 2%;
          width: 50%; }
          .section2 .info .allinfo .texts .text h4 {
            color: orange;
            padding-bottom: 12%; }

.slide-in-left {
  animation: slide-in-fwd-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both; }

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0; }
  100% {
    transform: translateZ(0);
    opacity: 1; } }

.section3 {
  height: 80vh;
  width: 100vw;
  color: white;
  background: orange;
  display: flex;
  align-items: center; }
  .section3 .boxes1-3 {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap; }
    .section3 .boxes1-3 .box {
      border: 1px solid white;
      width: 100%;
      height: 20%;
      padding: 1.5%; }
      .section3 .boxes1-3 .box:hover {
        transform: scale(1.15); }

.footer {
  height: 30vh;
  width: 100vw;
  border-bottom: 1px solid grey;
  color: grey;
  background: #313131;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .placeholders {
    height: 30vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    .footer .placeholders .placeholder {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding: 1.5%;
      font-size: 0.8rem; }
      .footer .placeholders .placeholder .address {
        width: 100%;
        height: 100%;
        background: #313131;
        display: flex;
        flex-direction: column; }
        .footer .placeholders .placeholder .address a:nth-child(1n+4) {
          font-style: italic; }
      .footer .placeholders .placeholder .word {
        color: whitesmoke;
        font-size: 0.8rem; }
      .footer .placeholders .placeholder .links a {
        text-decoration: none;
        color: orange; }
        .footer .placeholders .placeholder .links a:hover {
          color: whitesmoke; }
      .footer .placeholders .placeholder form {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .footer .placeholders .placeholder form label {
          display: flex;
          flex-direction: column; }

/* CONTACT FORM */
.contact {
  font-family: 'Libre Baskerville', sans-serif, 'Arial Black';
  height: 80vh;
  width: 100vw;
  color: whitesmoke;
  background: url("./images/chair33.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none; }

.react-form {
  opacity: 0.9;
  padding: 2rem;
  max-width: 40.625rem;
  border-radius: 5px;
  background-color: rgba(43, 43, 43, 0.88);
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1px 1px 5px 5px rgba(49, 49, 49, 0.53); }

.react-form h1 {
  font-size: 1.30rem;
  color: whitesmoke;
  margin: 2rem;
  text-align: center; }

.form-group {
  padding: 0;
  border: 0; }
  .form-group + .form-group {
    margin-top: 1rem; }

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .65rem;
  text-transform: uppercase;
  touch-action: manipulation; }

.form-input,
textarea {
  display: block;
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: black;
  background-color: rgba(255, 165, 0, 0.36);
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #404040;
  border-left: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .form-input:focus,
  textarea:focus {
    outline: 0;
    border-bottom-color: #404040; }

textarea {
  resize: vertical; }

.btn {
  font-family: 'Libre Baskerville', sans-serif, 'Arial Black';
  display: inline-block;
  padding: .75rem 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  vertical-align: middle;
  white-space: nowrap;
  background-color: white;
  border: 1px solid darkgray;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  position: relative;
  left: 40%;
  margin-top: 1.618rem;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn:focus, .btn:hover {
    background-color: orange;
    color: whitesmoke;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn:focus {
    outline: 0; }

.layer2 {
  background-color: rgba(43, 43, 43, 0.66);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 8%; }

@media (min-width: 300px) and (max-width: 702px) {
  .contacts a, .contacts img {
    display: none; }
  .icons {
    position: absolute;
    right: 90px; }
  nav {
    font-size: 0.5rem; }
    nav li {
      padding-left: 10px; }
  .logo {
    display: none; }
  .title h1 {
    font-size: 0.8rem; }
  .title a {
    font-size: 0.7rem; }
  .section1 {
    height: 110vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap; }
    .section1 .layer .text .title {
      padding-bottom: 0; }
    .section1 .layer .text .boxes {
      display: flex;
      justify-content: center; }
      .section1 .layer .text .boxes .box {
        padding: 20px;
        transform: scale(0.7);
        margin-bottom: -50px; }
  .section2 {
    height: 90vh; }
    .section2 .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .section2 .info .image {
        width: 50%;
        height: 50%;
        display: flex;
        position: center; }
      .section2 .info .allinfo {
        width: 100%;
        font-size: 0.7rem;
        margin-top: -100px; }
        .section2 .info .allinfo .texts {
          font-size: 0.7rem;
          margin-top: -20px; }
  .section3 {
    font-size: 0.7rem; }
    .section3 .boxes1-3 .box {
      overflow: auto;
      padding: 10px; }
  .footer {
    height: 50vh; }
    .footer .placeholders {
      display: flex;
      flex-wrap: wrap;
      margin-top: -90px; }
      .footer .placeholders .placeholder {
        transform: scale(0.8);
        width: 50%; }
        .footer .placeholders .placeholder label {
          font-size: 0.67rem; } }

@media (min-width: 510px) and (max-width: 702px) {
  nav {
    font-size: 0.7rem; }
  .section1 {
    height: 130vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap; }
    .section1 .layer .text .title {
      padding-bottom: 40px; }
      .section1 .layer .text .title h1 {
        font-size: 1rem; }
      .section1 .layer .text .title a {
        font-size: 0.8rem; }
    .section1 .layer .text .boxes {
      display: flex;
      justify-content: center; }
      .section1 .layer .text .boxes .box {
        padding: 20px;
        transform: scale(0.9);
        margin-bottom: 0; } }

@media (min-width: 702px) and (max-width: 890px) {
  nav {
    font-size: 0.7rem; }
    nav ul {
      display: flex;
      justify-content: flex-start; }
      nav ul li {
        padding-left: 10px; }
  .section1 {
    height: 150vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap; }
    .section1 .layer .text .title h1 {
      font-size: 1.2rem; }
    .section1 .layer .text .title a {
      font-size: 0.9rem; }
    .section1 .layer .text .boxes {
      display: flex;
      justify-content: center; }
      .section1 .layer .text .boxes .box {
        padding: 30px;
        margin-bottom: 30px;
        margin-right: 30px; }
  .section2 {
    height: 105vh; }
    .section2 .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .section2 .info .image {
        width: 50vw;
        height: 50vh; }
      .section2 .info .allinfo {
        width: 100%;
        font-size: 0.8rem;
        margin-top: -70px; }
        .section2 .info .allinfo .texts {
          font-size: 0.8rem;
          margin-top: -30px; }
  .section3 {
    font-size: 0.7rem; }
    .section3 .boxes1-3 .box {
      overflow: auto;
      padding: 10px; }
  .footer {
    height: 30vh; }
    .footer .placeholders .placeholder {
      transform: scale(0.9); }
      .footer .placeholders .placeholder a {
        font-size: 0.7rem; }
      .footer .placeholders .placeholder label {
        font-size: 0.67rem; } }

@media (min-width: 890px) and (max-width: 1200px) {
  .icons img {
    margin-left: 10px; }
  nav {
    font-size: 0.8rem; }
    nav ul li {
      padding-left: 10px; }
  .section1 {
    height: 120vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap; }
    .section1 .layer .text .title h1 {
      font-size: 1.3rem; }
    .section1 .layer .text .title a {
      font-size: 1rem; }
    .section1 .layer .text .boxes {
      display: flex;
      justify-content: center; }
      .section1 .layer .text .boxes .box {
        padding: 30px;
        margin-bottom: 30px;
        margin-right: 30px; }
  .section2 {
    height: 120vh; }
    .section2 .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .section2 .info .image {
        position: relative;
        height: 100%; }
      .section2 .info .allinfo {
        width: 100%;
        font-size: 0.9rem;
        margin-top: -220px; }
        .section2 .info .allinfo .texts {
          font-size: 0.9rem;
          padding-top: 20px; }
  .section3 .boxes1-3 .box {
    padding: 10px;
    height: 23%;
    overflow: auto; } }
